footer-links, img.titles{float:left;}
img.bookshelf{
	margin:10px 18px 30px 0;
	-webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(0,0,0,0.3)));}
img.titles{margin:0 6px 6px 0;}
img.events{width:100%;margin:0 20px 0 34px;}

h1.logotype{
	font-family: "facitweb";
	color:#FFFCEE;
	font-weight:bold;
	font-size:5em;
	margin-top:26px;
	float:left;
	}
	
h2{font-size:2em;}
h2.first, #searchform{margin:0;}
h2, .footer{margin:12px 0 0 0;}
h3{font-size:1.6em;}


.content-section .heading, h2.heading{
	background-color:#FFF;
	padding-top:6px;
	padding-bottom: 6px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-bottom-right-radius: 0px;  
	border-bottom-left-radius:  0px; 
	-moz-border-bottom-right-radius: 0px;  
	-moz-border-bottom-left-radius:  0px;
	-webkit-border-bottom-right-radius: 0px;  
	-webkit-border-bottom-left-radius:  0px;
	-webkit-box-shadow: 0px 0px 12px rgba(88, 83, 74, .7);
	box-shadow: 0px 0px 12px rgba(88, 83, 74, .7);
	-moz-box-shadow: 0px 0px 12px rgba(88, 83, 74, .7);
	}
	

.heading {
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function:ease-in;
	-moz-transition-property: background-color;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function:ease-in;
	-o-transition-property: background-color;
	-o-transition-duration: 0.1s;
	-o-transition-timing-function:ease-in;}
	
	
.heading:hover {
background-image: -webkit-linear-gradient(#514E49,#5B5956); 
background-image: -o-linear-gradient(#514E49,#5B5956);
background-image: -moz-linear-gradient(#514E49,#5B5956);}	

h2.heading {padding-left: 10px;}

h2#reset{background-color:#8D2315;color:#fff;margin-top:0;}

.smallmap{display:none;}		
.text-right{text-align:right;}

#page-content{margin-top:20px;}

.content{
	background-color: #fff;
	border-right:4px solid #fff;
	border-left:4px solid #fff;
	border-bottom:4px solid #fff;
	padding:10px;
	}
	
.content a {color:#E74E39;}
	

.footer{
	background-color:#514E49;
	margin-top:15px;
	width:100%;
	padding:10px 0 10px 0;
	height:103px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 5px rgba(88, 83, 74, .7);
	box-shadow: 0px 0px 5px rgba(88, 83, 74, .7);
	-moz-box-shadow: 0px 0px 5px rgba(88, 83, 74, .7);
	border-bottom-right-radius: 0px;  
	border-bottom-left-radius:  0px; 
	-moz-border-bottom-right-radius: 0px;  
	-moz-border-bottom-left-radius:  0px;
	-webkit-border-bottom-right-radius: 0px;  
	-webkit-border-bottom-left-radius:  0px;
	
	
	color:#FFFCEE;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.3em;
	
	
	}
	
.footer a, .footer-links {font-family: "facitweb";}	
	
.footer a{color:#FFFCEE;}
	
.footer-logo,  #header-links{float:right;}
.footer-logo{margin-right:10px;}
.footer-links{margin-left:10px;}

#header-links a {color:#FFFCEE;font-size: 20px;font-family: "facitweb";}


.ipad-stuff{display:none;}

#searchbox{	
	font-family: "facitweb";
	border:0px solid #e3e3e3;
	font-size:1.7em;
	font-style:italic;
	color:#E74E39;
	width:100%;
	padding-left: 10px;
}

input[id="searchbox"]{float:left;width:100%;}
input[value="search"]{
	float:right;
	height:44px;
	width:100%;
	font-size:1.1em;
	}
	
.flexslider img{
			position:relative;
			bottom:4px;
			right:4px;
			
		}
		
.flexslider {
	background: none;
	postion:relative;
	top:4px;
	}